@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {

    --color-darkCyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);

    --color-darkBlue: hsl(212, 21%, 14%);
    --color-darkGreyishBlue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);

    --font-size: 14px;

    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-fraunces: 'Fraunces', sans-serif;
}